
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2><span>LotusBookshop</span></h2>
                        <p> Website chuyên bán sách và văn phòng phấm online thuộc nhóm PTHTTHD-09</p>
                        <div class="footer-social">
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">User Navigation </h2>
                        <ul>
                            <li><a href="../Home">Trang Chủ</a></li>
                            <li><a href="/Product">Sản Phẩm</a></li>
                            <li><a href="../Home/Forum">Diễn Đàn</a></li>
                            <li><a href="../Home/About">Thông Tin Về Chúng Tôi</a></li>
                            <li><a href="../Home/Contact">Liên Hệ</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                            <li><a href="/Product/LoaiSP/Sách Giáo Dục">Sách Giáo Dục</a></li>
                            <li><a href="/Product/LoaiSP/Sách Khoa Học">Sách Khoa Học</a></li>
                            <li><a href="/Product/LoaiSP/Sách Thiếu Nhi">Sách Thiếu Nhi</a></li>
                            <li><a href="/Product/LoaiSP/Sách Thám Hiểm">Sách Thám Hiểm</a></li>
                            <li><a href="/Product/LoaiSP/Sách Tình Cảm">Sách Tình Cảm</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Newsletter</h2>
                        <p>Đăng kí để nhận khuyến mãi từ chúng tôi!</p>
                        <div class="newsletter-form">
                            <input type="email" placeholder="Type your email">
                            <input type="submit" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; PTUDHTTHD 09 <a href="http://lotusbookshop.somee.com/" target="_blank">lotusbookshop.somee.com</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="go_top"></a>
    <!--....--><!-- End footer bottom area -->