
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/DoAn2/index">Trang chủ</a></li>
                        <li><a href="/DoAn2/listAllSP">Danh mục sách</a></li>
                        <li><a href="/Doan2/About">Giới thiệu</a></li>
                        <li><a href="/DoAn2/Contact">Liên hệ</a></li>
                        <li><a href="/DoAn2/Promotion">Khuyến mãi</a></li>
                        <li><a href="/Doan2/Forum">Diễn đàn</a></li>
                        <li class="dropdown1">
                            <a class="dropdown-toggle" data-toggle="dropdown" style="width:200px;padding-left:40px;">
                                <span>Tìm Kiếm Nâng Cao</span>
                            </a>
                            <div id='cssmenu'>
                                <ul>

                                    <li class='has-sub'>
                                        <a><span>Nhà Xuất Bản</span></a>
                                        <ul>
                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=1'><span>Kim Đồng</span></a>
                                            </li>

                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=2'><span>Tuổi Trẻ</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=3'><span>Thanh Niên</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=4'><span>Giáo Dục</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=5'><span>Nhà Nước</span></a>
                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=6'><span>Trẻ</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=7'><span>Đại Học Sư Phạm</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=8'><span>Đại Học Quốc Tế</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=9'><span>Thành Phố HCM</span></a>
                                            <li>
                                                <a href='/DoAn2/getByNSX?qNSX=10'><span>Đại Học Mở</span></a>
                                            </li>

                                            <li class="last">
                                                <a href='/DoAn2/getByNSX?qNSX=11'><span>Đà Nẵng</span></a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class='has-sub'>
                                        <a><span>Giá Tiền</span></a>
                                        <ul>
                                            <li>
                                                <a href='/DoAn2/getByGia?qGia=50000'><span>Dưới 50.000</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByGia?qGia=200000'><span>Dưới 20.0000</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByGia?qGia=500000'><span>Dưới 500.000</span></a>
                                            </li>
                                            <li class="last">
                                                <a href='/DoAn2/getByGia?qGia=1000000'><span>Dưới 1 triệu</span></a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class='has-sub'>
                                        <a href='#'><span>Loại Sản Phẩm</span></a>
                                        <ul>
                                            <li>
                                                <a href='/DoAn2/getByLoaiSP?qLoaiSP=Sách Trẻ'><span>Sách Trẻ</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByLoaiSP?qLoaiSP=Sách Thám Hiểm'><span>Sách Thám Hiểm</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByLoaiSP?qLoaiSP=Sách Giáo Dục'><span>Sách Giáo Dục</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByLoaiSP?qLoaiSP=Sách Thiếu Nhi'><span>Sách Thiếu Nhi</span></a>
                                            </li>
                                            <li>
                                                <a href='/DoAn2/getByLoaiSP?qLoaiSP=Sách Tình Cảm'><span>Sách Tình Cảm</span></a>
                                            </li>
                                            <li class='last'>
                                                <a href='/DoAn2/getByLoaiSP?qLoaiSP=Sách Khoa Học'><span>Sách Khoa Học</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li style="float:right">
                            <div class="single-sidebar">
                                <form action="FindbyName" method="get" onsubmit="return checkSearch()">
                                    <input type="text" name="qName" id="qName" value="" placeholder="Tìm kiếm sản phẩm...">
                                    <input type="submit" value="Tìm" style="padding-top :20px;padding-bottom:20px;" />
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->